*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reto 1 */
.titulo{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 300px 150px 300px;
    grid-template-rows: 200px 200px;;
    color: white;
    justify-content: center;

}
.a{
    background-color: greenyellow;
    text-align: center;
}

.b{
    background-color: orange;
    text-align: center;
}
.c{
    background-color: orangered;
    text-align: center;

}
.d{
    background-color: red;
    text-align: center;

}
.e{
    background-color: blue;
    text-align: center;

}
.f{
    background-color: yellow;
    text-align: center;

}
/* Reto 2 */

.grid2{
    display: grid;
    height: 80vh;
    width: 100vw;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr ;
    grid-template-rows: 2fr 1fr;
    
   
}
.caja1{
    background-color: greenyellow;
    color: black;
    text-align: center;
}

.caja2{
    background-color: black;
    color: white;
    text-align: center;
}

/* Reto 3 */
.header{
    display: grid;
    grid-template-columns: [left0] 1fr [rigth0];
    background-color: black;
    height: 10vh;
    color:white;
    text-align: center;
    font-size: x-large;
}

.section1{
    display: grid;
    grid-template-columns: [left0] 3fr [middle1] 1fr [rigth0];
    height: 70vh;
}
.art1{
    display: grid;
    background-color: blue;
    color: white;
    grid-template-rows: [top0] 1fr [middle1] 2fr [bottom0];
    
}
.contenido{
    border: 1px solid white;
    margin:5px;
}
.texto{
    display: grid;
    grid-template-columns: [left0] 2fr [middle1] 1fr [rigth0];
}
.texto1{
    border: 1px solid white;
    margin:5px;
}
.art2{
    background-color: aquamarine;
    display: grid;
    grid-template-rows: [top0] 1fr [middle1] 1fr [middle2] 1fr [middle3] 1fr[bottom0] ;
    grid-template-columns: [left0] 1fr [right0];
    color:white;
    
}
.menu{
    border: 2px solid black;
    margin: 8px;
    text-align: center;
    font-size: x-large;

}
.submenu{
    background-color: black;
    text-align: center;
    margin: 8px;
}
.footer{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: [left0] 1fr [middle1] 1fr [right0];
    color: white;
    height: 10vh;
}

.foot1{
    border: 2px solid black;
    text-align: center;
    margin:8px;
}
/* Reto 4*/

.header4{
    display: grid;
    grid-template-areas: "head head imagen";
                         
                       
    color:white;
    height: 10vh;
    text-align: center;
    
}

.head{
    background-color: brown;
    grid-area: head;
    
    
}

.imagen{
    background-color: rgb(77, 17, 17);
    grid-area: imagen;
    

}
.section4{
    display: grid;
    grid-template-areas: "article4 section5 section5"
                        "footer4 footer4 footer4";
    height: 100vh;
    
}
.article4{
    background-color: rgb(244, 126, 0);
    color:orange;
    grid-area: article4;
    text-align: center;
    display: grid;
    grid-template-areas: "aside3 "
                        "vacio "
                        "aside4 ";
}
.aside3{
    grid-area: aside3;
    background-color: white;
    margin:10px;
}

.aside4{
    grid-area: aside4;
    background-color: white;
    margin:10px;
}

.section5{
    background-color: rgb(255, 55, 0);
    grid-area: section5;
    color:white;
    text-align: center;
    display: grid;
    grid-template-areas: "contenido4"
                        "texto4";
}

.contenido4{
    border: 2px solid white;
    margin:10px;
    grid-area: contenido4;

}

.texto4{
    border: 2px solid white;
    margin:10px;
    grid-area: texto4;

}
.footer4{
   height: 10vh;
    grid-area: footer4;
    background-color:rgb(77, 17, 17);
    color: white;
    text-align: center;
}

